{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DocuSign Admin API",
    "description" : "An API for an organization administrator to manage organizations, accounts and users",
    "termsOfService" : "https://www.docusign.com/company/terms-and-conditions/developers",
    "contact" : {
      "name" : "DocuSign Developer Center",
      "url" : "https://developers.docusign.com",
      "email" : "devcenter@docusign.com"
    },
    "version" : "v2.1"
  },
  "externalDocs" : {
    "description" : "See the DocuSign DocuSign Admin API Guide for more information.",
    "url" : "https://developers.docusign.com/docs/admin-api/reference"
  },
  "servers" : [ {
    "url" : "https://api.docusign.net/Management"
  } ],
  "tags" : [ {
    "name" : "IdentityProviders",
    "description" : "Methods to get a list of identity providers."
  }, {
    "name" : "ReservedDomains",
    "description" : "Methods to get a list of reserved domains."
  }, {
    "name" : "Users",
    "description" : "Methods to manage users in an account."
  }, {
    "name" : "eSignUserManagement",
    "description" : "Methods to manage eSignature users in an account."
  }, {
    "name" : "MultiProductUserManagement",
    "description" : "Methods to manage multi-product users in an account."
  }, {
    "name" : "UserExport",
    "description" : "Methods for exporting a user list."
  }, {
    "name" : "AccountSettingsExport",
    "description" : "Methods and objects to get account information."
  }, {
    "name" : "UserImport",
    "description" : "Methods to import users.\n\nTo ensure your CSV is properly formatted, use the\n[Sample Bulk Add CSV file](https://admin.docusign.com/static-resources/organization-user-import.csv)\n as a template.\n\nYou can add up to 2,000 users to an account and include up to 50 accounts per import. The maximum number of users per import is 8,000."
  }, {
    "name" : "Organization",
    "description" : "Methods for working with organizations."
  }, {
    "name" : "AccountSettingsImport",
    "description" : "Methods and objects to update account settings."
  }, {
    "name" : "SingleAccountUserImport",
    "description" : "Methods to import users."
  }, {
    "name" : "DataDeletion",
    "description" : "Methods to delete user data. After a user is closed, an account or organization administrator can use these methods to delete the user's account data."
  }, {
    "name" : "AccountCloning",
    "description" : "Methods to clone accounts."
  } ],
  "paths" : {
    "/v2/organizations" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Returns a list of organizations that the authenticated user belongs to.",
        "description" : "Returns a list of organizations that the authenticated user belongs to.\n\nNote that the DocuSign Admin API only returns JSON, not XML.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `organization_read`.\n\nThis method requires user authentication. It will fail with an [application access token](/docs/admin-api/admin101/application-auth/).",
        "operationId" : "Organization_Organization_GetListV2",
        "parameters" : [ {
          "name" : "mode",
          "in" : "query",
          "description" : "Specifies how to select the organizations. Valid values:\n\n- `org_admin`: Returns organizations for which the authenticated user is an admin.\n- `account_membership`: Returns organizations that contain an account of which the authenticated user is a member\n\nDefault value: `org_admin`",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationsResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "organization_read" ]
        } ],
        "x-ds-methodname" : "getOrganizations",
        "x-ds-method" : "getOrganizations",
        "x-ds-service" : "Accounts",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/data_redaction/accounts/{accountId}/user" : {
      "post" : {
        "tags" : [ "DataDeletion" ],
        "summary" : "Deletes membership data for a user on an account.",
        "description" : "Deletes the data for a single account membership for a specified user.\n\nTo call this endpoint: \n* You must be an administrator (or delegated administrator) of the specified account.\n* The user must have been closed for at least 24 hours.\n\n**Note:** After a user's data is deleted for every account to which they belong, their user-level data will automatically be deleted.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_data_redact`.\n",
        "operationId" : "DataRedaction_RedactIndividualMembershipData",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "The ID of the account from which to delete the user's data\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IndividualMembershipDataRedactionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IndividualUserDataRedactionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_data_redact" ]
        } ],
        "x-ds-methodname" : "redactIndividualMembershipData",
        "x-ds-method" : "redactIndividualMembershipData",
        "x-ds-service" : "Accounts",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "requestModel"
      }
    },
    "/v2/organizations/{organizationId}/accounts/{accountId}/permissions" : {
      "get" : {
        "tags" : [ "eSignUserManagement" ],
        "summary" : "Returns the list of permission profiles in an account.",
        "description" : "Returns the list of permission profiles in an account.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `permission_read`.\n\n",
        "operationId" : "Account_Accounts_GetPermissionProfilesV2",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "description" : "The account ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PermissionsResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "permission_read" ]
        } ],
        "x-ds-methodname" : "getPermissions",
        "x-ds-method" : "getPermissions",
        "x-ds-service" : "Accounts",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/accounts/{accountId}/groups" : {
      "get" : {
        "tags" : [ "eSignUserManagement" ],
        "summary" : "Returns the list of groups in an account.",
        "description" : "Returns the list of groups in an account.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `group_read`.\n",
        "operationId" : "Account_Accounts_GetGroupsV2",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "description" : "The account ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "Index of first item to include in the response. The default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "Page size of the response. The default value is 20",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "Index of the last item to include in the response. Ignored if `take` parameter is specified",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MemberGroupsResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "group_read" ]
        } ],
        "x-ds-methodname" : "getGroups",
        "x-ds-method" : "getGroups",
        "x-ds-service" : "Accounts",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/exports/user_list" : {
      "get" : {
        "tags" : [ "UserExport" ],
        "summary" : "Returns a list of pending and completed export requests.",
        "description" : "Returns a list of pending and completed export requests.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_read`.\n",
        "operationId" : "OrganizationExport_OrganizationExport_Get",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationExportsResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_read" ]
        } ],
        "x-ds-methodname" : "getUserListExports",
        "x-ds-method" : "getUserListExports",
        "x-ds-service" : "BulkExports",
        "x-ds-in-sdk" : true
      },
      "post" : {
        "tags" : [ "UserExport" ],
        "summary" : "Creates a user list export request.",
        "description" : "Create a user list export request.\n\nThis method initiates a user list export request. You specify the type of export request as JSON in the body of method, like this:\n\n``` json\n{\n\t\"type\": \"organization_memberships_export\"\n}\n```\n\nThe export request type is one of three values:\n\n| Value                                      | Description                                                                                             |\n| :----------------------------------------- | :------------------------------------------------------------------------------------------------------ |\n| `organization_memberships_export`          | Every user in every account in the organization. Users in multiple accounts will appear more than once. |\n| `organization_domain_users_export`         | All users of the reserved domains.                                                                      |\n| `organization_external_memberships_export` | Users whose email address domain is *not* linked to the organization.                                   |\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_read`.",
        "operationId" : "OrganizationExport_OrganizationExport_Insert",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrganizationExportRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationExportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_read" ]
        } ],
        "x-ds-methodname" : "createUserListExport",
        "x-ds-method" : "createUserListExport",
        "x-ds-service" : "BulkExports",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "request"
      }
    },
    "/v2/organizations/{organizationId}/exports/account_settings" : {
      "get" : {
        "tags" : [ "AccountSettingsExport" ],
        "summary" : "Returns a list of pending and completed account settings export request.",
        "description" : "Returns a list of pending and completed account settings export requests.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `account_read`.",
        "operationId" : "OrganizationExport_OrganizationExport_GetAccountCompare",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationExportsResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "account_read" ]
        } ],
        "x-ds-methodname" : "getAccountSettingsExports",
        "x-ds-method" : "getAccountSettingsExports",
        "x-ds-service" : "BulkExports",
        "x-ds-in-sdk" : true
      },
      "post" : {
        "tags" : [ "AccountSettingsExport" ],
        "summary" : "Creates a  new account settings export request.",
        "description" : "Creates a new account settings export request.\n\nTo learn more about exporting account settings,\nsee [Account Settings Export][guide-export]\nin the DocuSign Admin Guide.\n\nYou can export settings for up to 40 accounts at a time.\n\nSpecify the accounts whose settings you are requesting as JSON in the body of the request, like this:\n\n``` json\n{\n  \"accounts\":\t[\n  \t{ \"account_id\": \"9ca037f4-xxxx-xxxx-xxxx-212e57d4f22e\"},\n  \t{ \"account_id\": \"624e3e00-xxxx-xxxx-xxxx-43918c520dab\"}\n\n  ]\n}\n```\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `account_write`.\n\n### Related topics\n\n- [Account Settings import][guide-import] guide\n- [Account Settings Export][guide-export] guide\n\n\n[guide-import]: https://support.docusign.com/s/document-item?bundleId=rrf1583359212854&topicId=nwl1583359167434.html\n[guide-export]: https://support.docusign.com/s/document-item?bundleId=rrf1583359212854&topicId=kfj1583359164049.html",
        "operationId" : "OrganizationExport_OrganizationExport_AccountCompare",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrganizationAccountsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationExportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "account_read" ]
        } ],
        "x-ds-methodname" : "createAccountSettingsExport",
        "x-ds-method" : "createAccountSettingsExport",
        "x-ds-service" : "BulkExports",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "request"
      }
    },
    "/v2/organizations/{organizationId}/exports/user_list/{exportId}" : {
      "get" : {
        "tags" : [ "UserExport" ],
        "summary" : "Returns the results for single user list export request.",
        "description" : "Returns the results for single user list export request.\n\nGiven an export ID, this method returns the results of a single user list export request.\nTo get a list of all the export requests, use `getUserListExports`.\n\nNote that the `metadata_url` property of the response from `createUserListExport` is a read-to-use HTTP GET request to get the status.\n\nThe results are available through a URL that\nyou can access through the `results` property of the response.\nFor example, to get the URL of the first result you might use\n`results[0].url`\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_read`.",
        "operationId" : "OrganizationExport_OrganizationExport_GetByExportId",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "exportId",
          "in" : "path",
          "description" : "The export ID GUID for the request",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationExportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_read" ]
        } ],
        "x-ds-methodname" : "getUserListExport",
        "x-ds-method" : "getUserListExport",
        "x-ds-service" : "BulkExports",
        "x-ds-in-sdk" : true
      },
      "delete" : {
        "tags" : [ "UserExport" ],
        "summary" : "Deletes a single user list export request.",
        "description" : "Deletes a single user list export request.\nUse this method to delete pending or completed user export requests.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_read`.\n\n",
        "operationId" : "OrganizationExport_OrganizationExport_DeleteByExportId",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "exportId",
          "in" : "path",
          "description" : "The export ID GUID for the request",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_read" ]
        } ],
        "x-ds-methodname" : "deleteUserListExport",
        "x-ds-method" : "deleteUserListExport",
        "x-ds-service" : "BulkExports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/exports/account_settings/{exportId}" : {
      "get" : {
        "tags" : [ "AccountSettingsExport" ],
        "summary" : "Returns the results for a single account settings export request.",
        "description" : "Returns the results for a single account settings export request.\n\nGiven an export ID, this method returns the results of an account settings export request.\nTo get a list of all the export requests, use `getAccountSettingsExports`.\n\nThe results are available through a URL that\nyou can access through the `results` property of the response.\nFor example, to get the URL of first result you might use\n`results[0].url`\n\nThe settings export is formatted like this:\n\n``` json\n{\n  \"accounts\": [\n    {\n      \"account_id\": \"9ca037f4-xxxx-xxxx-xxxx-212e57d4f22e\",\n      \"name\": \"The Happy Company\",\n      . . .\n    },\n    {\n      \"account_id\": \"624e3e00-xxxx-xxxx-xxxx-43918c520dab\",\n      \"name\": \"LoanCo\",\n      . . .\n    }\n  ],\n  \"settings\": [\n    . . .\n    {\n      \"category\": \"Signing\",\n      \"name\": \"SignerCanSignOnMobile\",\n      \"account_values\": [\n        {\n          \"account_id\": \"9ca037f4-xxxx-xxxx-xxxx-212e57d4f22e\",\n          \"value\": \"true\",\n          \"rights\": \"editable\"\n        },\n        {\n          \"account_id\": \"624e3e00-xxxx-xxxx-xxxx-43918c520dab\",\n          \"value\": \"true\",\n          \"rights\": \"editable\"\n        }\n      ]\n    },\n    . . .\n  ]\n}\n\n```\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `account_read`.",
        "operationId" : "OrganizationExport_OrganizationExport_GetAccountSettingsExportByExportId",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "exportId",
          "in" : "path",
          "description" : "The export ID GUID for the request",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationExportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "account_read" ]
        } ],
        "x-ds-methodname" : "getAccountSettingsExport",
        "x-ds-method" : "getAccountSettingsExport",
        "x-ds-service" : "BulkExports",
        "x-ds-in-sdk" : true
      },
      "delete" : {
        "tags" : [ "AccountSettingsExport" ],
        "summary" : "Deletes a single account settings export request.",
        "description" : "Deletes a single account settings export request.\nAny data associated with the request is also deleted.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `account_read`.\n",
        "operationId" : "OrganizationExport_OrganizationExport_DeleteByAccountSettingsExportId",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "exportId",
          "in" : "path",
          "description" : "The export ID GUID for the request",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "account_read" ]
        } ],
        "x-ds-methodname" : "deleteAccountSettingsExport",
        "x-ds-method" : "deleteAccountSettingsExport",
        "x-ds-service" : "BulkExports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/imports/account_settings" : {
      "get" : {
        "tags" : [ "AccountSettingsImport" ],
        "summary" : "Returns the details and metadata for Bulk Account Settings Import requests in the organization.",
        "description" : "Returns the details and metadata for Bulk Account Settings Import requests in the organization.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `account_read`.",
        "operationId" : "OrganizationImport_OrganizationImportAccountSettings_Get",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OrganizationAccountSettingsImportResponse"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "account_read" ]
        } ],
        "x-ds-methodname" : "getBulkAccountSettingsImports",
        "x-ds-method" : "getBulkAccountSettingsImports",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      },
      "post" : {
        "tags" : [ "AccountSettingsImport" ],
        "summary" : "Creates a new account settings import request.",
        "description" : "Creates a new account settings import request.\n\nThe request for this method consists of\nthe contents of a CSV\nfile.\n\nYou can export your current settings as a CSV file with\n[AccountSettingsExport: createAccountSettingsExport](/docs/admin-api/reference/bulkoperations/accountsettingsexport/createaccountsettingsexport/)\nand use it as the basis\nof the changes you want to import.\n\n\nTo learn more about the format\nof a settings CSV file, see\n[Preparing a CSV for account settings import][guide-import]\nin the DocuSign Admin Guide.\n\nYou can import settings for up to 40 accounts at a time.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `account_write`.\n\n### Related topics\n\n- [Account Settings import][guide-import] guide\n- [Account Settings Export][guide-export] guide\n\n[guide-import]: https://support.docusign.com/s/document-item?bundleId=rrf1583359212854&topicId=nwl1583359167434.html\n[guide-export]: https://support.docusign.com/s/document-item?bundleId=rrf1583359212854&topicId=kfj1583359164049.html\n",
        "operationId" : "OrganizationImport_OrganizationImportAccountSettings_Post",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID GUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImportsAccountSettingsBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationAccountSettingsImportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "account_write" ]
        } ],
        "x-ds-methodname" : "addBulkAccountSettingsImport",
        "x-ds-method" : "addBulkAccountSettingsImport",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/imports/account_settings/{importId}" : {
      "get" : {
        "tags" : [ "AccountSettingsImport" ],
        "summary" : "Returns the details/metadata for a Bulk Account Settings Import request.",
        "description" : "Returns the details/metadata for a Bulk Account Settings Import request.\n\nGiven an import ID, this method returns the results of an account settings import request.\nTo get a list of all the import requests, use `getAccountSettingsImports`.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `account_read`.\n",
        "operationId" : "OrganizationImport_OrganizationImportAccountSettings_GetById",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "importId",
          "in" : "path",
          "description" : "The import ID GUID for the request",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationAccountSettingsImportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "account_read" ]
        } ],
        "x-ds-methodname" : "getBulkAccountSettingsImport",
        "x-ds-method" : "getBulkAccountSettingsImport",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      },
      "delete" : {
        "tags" : [ "AccountSettingsImport" ],
        "summary" : "Deletes a Bulk Account Settings Import request.",
        "description" : "Deletes a single account settings import request.\nAny data associated with the request is also deleted.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `account_write`.",
        "operationId" : "OrganizationImport_OrganizationImportAccountSettings_DeleteById",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "importId",
          "in" : "path",
          "description" : "The import ID GUID for the request",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "account_write" ]
        } ],
        "x-ds-methodname" : "deleteBulkAccountSettingsImport",
        "x-ds-method" : "deleteBulkAccountSettingsImport",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/imports/bulk_users/add" : {
      "post" : {
        "tags" : [ "UserImport" ],
        "summary" : "Creates a request to import new users into an account.",
        "description" : "Creates a request to import *new* users.\n\nYour CSV import file is made up of a header row with the column headers and a row of user or account data for each user you want to add to an account. Only new users can be imported. Any changes to existing users will be ignored. To make changes to existing users, use [UserImport:updateBulkUserImports][imports].\n\nTo ensure your CSV is properly formatted, use the\n[Sample Bulk Add CSV file](https://admin.docusign.com/static-resources/organization-user-import.csv)\n as a template. The following table describes the columns.\n\n\n\n| Column              | Required | Description                                                                                                                                                                                                                                                                                                                                                                                                         |\n| :------------------ | :------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| AccountID           | yes      | The API account ID for the account to which you want you add the user. You can find this ID in the Admin area for the account under **API and Keys.**                                                                                                                                                                                                                                                            |\n| AccountName         |          | The name of the user's account in your organization. The account name must match the account ID provided.                                                                                                                                                                                                                                                                                                           |\n| FirstName           | yes      | The user's first name.                                                                                                                                                                                                                                                                                                                                                                                              |\n| LastName            | yes      | The user's last name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| UserEmail           | yes      | The user's complete email address.                                                                                                                                                                                                                                                                                                                                                                                  |\n| PermissionSet       | yes      | The user's permission set. The PermissionSet value must match an existing permission set for the account. This value is not case sensitive.                                                                                                                                                                                                                                                                         |\n| UserTitle           |          | The user's job title.                                                                                                                                                                                                                                                                                                                                                                                               |\n| CompanyName         |          | The user's company name.                                                                                                                                                                                                                                                                                                                                                                                            |\n| Group               |          | The user's assigned groups. The Group values must match existing Group names for the account. Additional Group columns can be added to the file to add users to more than one group. You do not need to add users to the Everyone group, since all new users are automatically added to that group.                                                                                                                 |\n| AddressLine1        |          | The user's address, first line.                                                                                                                                                                                                                                                                                                                                                                                     |\n| AddressLine2        |          | The user's address, second line.                                                                                                                                                                                                                                                                                                                                                                                    |\n| City                |          | The user's city name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| StateRegionProvince |          | The user's regional location.                                                                                                                                                                                                                                                                                                                                                                                       |\n| PostalCode          |          | The user's postal code.                                                                                                                                                                                                                                                                                                                                                                                             |\n| Phone               |          | The user's phone number.                                                                                                                                                                                                                                                                                                                                                                                            |\n| Language            |          | The user's display language for their DocuSign account. Must be one of: <ul><li>Chinese Simplified: <code>zh_CN</code></li><li>Chinese Traditional: <code>zh_TW</code></li><li>Dutch: <code>nl</code></li><li>English: <code>en</code></li><li>French: <code>fr</code></li><li>German: <code>de</code></li><li>Italian: <code>it</code></li><li>Japanese: <code>ja</code></li><li>Korean: <code>ko</code></li><li>Portuguese: <code>pt</code></li><li>Portuguese Brazil: <code>pt_BR</code></li><li>Russian: <code>ru</code></li><li>Spanish: <code>es</code></li></ul>                                                                                                                                                                                                                                                                                                                                                            |\n| LoginPolicy         |          | The user's login policy. Valid values include the following: <ul> <li>Column left blank = The user is created with no policy assigned.</li> <li>FedAuthRequired = The user must log in with an Identity Provider.</li> <li>FedAuthBypass = The user may log in with an Identity Provider or their DocuSign username and password.</li> </ul> For more information on login policies, see [Setting User Login Policy](https://support.docusign.com/s/document-item?bundleId=rrf1583359212854&topicId=zah1583359147774.html). |\n| AutoActivate        |          | For domain users, new users can be activated automatically for domain accounts using SSO by setting the value to **true.** The user is activated automatically once the import is complete. Memberships activated in this way do not receive an activation email.                                                                                                                                                   |\n\n\nYou can add up to 2,000 users to an account and include up to 50 accounts per import. The maximum number of users per import is 8,000.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.\n\n\n[imports]: /docs/admin-api/reference/bulkoperations/userimport/updatebulkuserimports/\n",
        "operationId" : "OrganizationImport_OrganizationImportUsers_Insert",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkUsersAddBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationImportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "addBulkUserImport",
        "x-ds-method" : "addBulkUserImport",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/accounts/{accountId}/imports/bulk_users/add" : {
      "post" : {
        "tags" : [ "SingleAccountUserImport" ],
        "summary" : "Import request for adding a user to a single account within the organization.",
        "description" : "Import request for adding a user to a single account within the organization.\nThis method lets you upload user information without requiring an AccountId column.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.\n",
        "operationId" : "OrganizationImport_OrganizationImportSingleAccountUsers_Insert",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "description" : "The account ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkUsersAddBody1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationImportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "createBulkImportSingleAccountAddUsersRequest",
        "x-ds-method" : "createBulkImportSingleAccountAddUsersRequest",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/imports/bulk_users/update" : {
      "post" : {
        "tags" : [ "UserImport" ],
        "summary" : "Bulk updates information for existing users.",
        "description" : "Bulk updates information for existing users.\n\nYour CSV import file is made up of a header row with the column headers and a row of user or account data for each user you want to add to an account. \n\n\n**Update limit:** You can update up to 2,000 users on an account and include up to 50 accounts per import. The maximum number of updated users per import is 8,000.\n\nThis method requires the following HTTP headers:\n\n| Header | Value |\n| :--- |  :--- |\n| Content-Type | `text/csv` |\n| Content-Disposition |  `filename=filename.csv` |\n\n\n\nTo ensure your CSV is properly formatted, use the\n[Sample Bulk Update CSV file](https://admin.docusign.com/static-resources/organization-user-update-import.csv)\n as a template. The following table describes the columns.\n\nNote that the columns for bulk adding users and bulk update users are slightly different.\nThe update CSV file requires an `APIUserName` column, and does not have an `AutoActivate` column.\n\n\n\n| Column              | Required | Description                                                                                                                                                                                                                                                                                                                                                                                                         |\n| :------------------ | :------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| AccountID           | yes      | The 32-character API account ID of the user's account in your organization. You can find this value in the API and Keys section of the Admin area of the account.                                                                                                                                                                                                                                                             |\n| AccountName         |          | The name of the user's account in your organization. The account name must match the account ID provided.                                                                                                                                                                                                                                                                                                           |\n| FirstName           | yes      | The user's first name.                                                                                                                                                                                                                                                                                                                                                                                              |\n| LastName            | yes      | The user's last name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| UserEmail           | yes      | The user's complete email address.                                                                                                                                                                                                                                                                                                                                                                                  |\n| PermissionSet       | yes      | The user's permission set. The PermissionSet value must match an existing permission set for the account. This value is not case sensitive.                                                                                                                                                                                                                                                                         |\n| UserTitle           |          | The user's job title.                                                                                                                                                                                                                                                                                                                                                                                               |\n| CompanyName         |          | The user's company name.                                                                                                                                                                                                                                                                                                                                                                                            |\n| Group               |          | The user's assigned groups. The Group values must match existing Group names for the account. Additional Group columns can be added to the file to add users to more than one group. You do not need to add users to the Everyone group, since all new users are automatically added to that group.                                                                                                                 |\n| AddressLine1        |          | The user's address, first line.                                                                                                                                                                                                                                                                                                                                                                                     |\n| AddressLine2        |          | The user's address, second line.                                                                                                                                                                                                                                                                                                                                                                                    |\n| City                |          | The user's city name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| StateRegionProvince |          | The user's regional location.                                                                                                                                                                                                                                                                                                                                                                                       |\n| PostalCode          |          | The user's postal code.                                                                                                                                                                                                                                                                                                                                                                                             |\n| Phone               |          | The user's phone number.                                                                                                                                                                                                                                                                                                                                                                                            |\n| Language            |          | The user's display language for their DocuSign account. Must be one of: <ul><li>Chinese Simplified: <code>zh_CN</code></li><li>Chinese Traditional: <code>zh_TW</code></li><li>Dutch: <code>nl</code></li><li>English: <code>en</code></li><li>French: <code>fr</code></li><li>German: <code>de</code></li><li>Italian: <code>it</code></li><li>Japanese: <code>ja</code></li><li>Korean: <code>ko</code></li><li>Portuguese: <code>pt</code></li><li>Portuguese Brazil: <code>pt_BR</code></li><li>Russian: <code>ru</code></li><li>Spanish: <code>es</code></li></ul>                                                                                                                                                                                                                                                                                                                                                            |\n| LoginPolicy         |          | The user's login policy. Valid values include the following: <ul> <li>Column left blank = The user is created with no policy assigned.</li> <li>FedAuthRequired = The user must log in with an Identity Provider.</li> <li>FedAuthBypass = The user may log in with an Identity Provider or their DocuSign username and password.</li> </ul> For more information on login policies, see [Setting User Login Policy](https://support.docusign.com/s/document-item?bundleId=rrf1583359212854&topicId=zah1583359147774.html). |\n| AutoActivate        |          | For domain users, new users can be activated automatically for domain accounts using SSO by setting the value to **true.** The user is activated automatically once the import is complete. Memberships activated in this way do not receive an activation email.                                                                                                                                                   |\n\n\n\n## Updating user email addresses\n\nChanging a user's email address should be done carefully. The user's email address is used to log in to DocuSign and receive documents to sign from others.\nOnce changed, existing documents that were sent or received:\n\n- Will still appear in the user's documents list.\n- Notifications about these documents will be sent to the new email address. If someone sends a new document to the old email address:\n- DocuSign will send a notification to the old address.\n- It will not appear in the documents list of the account.\n\nThis change of email address will be applied to all of the user's account memberships.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.",
        "operationId" : "OrganizationImport_OrganizationImportUsers_Update",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkUsersUpdateBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationImportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "updateBulkUserImports",
        "x-ds-method" : "updateBulkUserImports",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/accounts/{accountId}/imports/bulk_users/update" : {
      "post" : {
        "tags" : [ "SingleAccountUserImport" ],
        "summary" : "Import request for updating users for a single account\nwithin the organization.",
        "description" : "Import request for updating users for a single account\nwithin the organization.\n\nThis method lets you upload user information without requiring an `AccountId` column.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.\n\n",
        "operationId" : "OrganizationImport_OrganizationImportSingleAccountUsers_Update",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "description" : "The account ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkUsersUpdateBody1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationImportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "createBulkImportSingleAccountUpdateUsersRequest",
        "x-ds-method" : "createBulkImportSingleAccountUpdateUsersRequest",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/imports/bulk_users/close" : {
      "post" : {
        "tags" : [ "UserImport" ],
        "summary" : "Creates a request to close the accounts of existing users.",
        "description" : "Creates a request to close the accounts of existing users.\n\nGiven a CSV list of users, close their accounts.\n\nYour CSV import file is made up of a header row with the column headers and a row of user or account data for each user whose account you want to close.\n\nTo ensure your CSV is properly formatted, use the\n[Sample Bulk Update CSV file](https://admin.docusign.com/static-resources/organization-user-update-import.csv)\n as a template. The following table describes the columns.\n\n\n\n\n| Column              | Required | Description                                                                                                                                                                                                                                                                                                                                                                                                         |\n| :------------------ | :------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| AccountID           | yes      | The 32-character API account ID of the user's account in your organization. You can find this value in the API and Keys section of the Admin area of the account.                                                                                                                                                                                                                                                             |\n| AccountName         |          | The name of the user's account in your organization. The account name must match the account ID provided.                                                                                                                                                                                                                                                                                                           |\n| FirstName           | yes      | The user's first name.                                                                                                                                                                                                                                                                                                                                                                                              |\n| LastName            | yes      | The user's last name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| UserEmail           | yes      | The user's complete email address.                                                                                                                                                                                                                                                                                                                                                                                  |\n| PermissionSet       | yes      | The user's permission set. The PermissionSet value must match an existing permission set for the account. This value is not case sensitive.                                                                                                                                                                                                                                                                         |\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.",
        "operationId" : "OrganizationImport_OrganizationImportUsers_Close",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkUsersCloseBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationImportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "closeBulkUserImportRequest",
        "x-ds-method" : "closeBulkUserImportRequest",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/imports/bulk_users/close_external" : {
      "post" : {
        "tags" : [ "UserImport" ],
        "summary" : "Closes external memberships.",
        "description" : "Closes external memberships.\n\nExternal memberships are users who have an email address at a verified domain but do not belong to the organization.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.\n",
        "operationId" : "OrganizationImport_OrganizationImportUsers_CloseExternal",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationImportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "closeBulkExternalUserImportRequest",
        "x-ds-method" : "closeBulkExternalUserImportRequest",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/imports/bulk_users" : {
      "get" : {
        "tags" : [ "UserImport" ],
        "summary" : "Gets a list of all of the user import requests.",
        "description" : "Gets a list of all of the user import requests.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_read`.",
        "operationId" : "OrganizationImport_OrganizationImportUsers_Get",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationImportsResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_read" ]
        } ],
        "x-ds-methodname" : "getBulkUserImportRequests",
        "x-ds-method" : "getBulkUserImportRequests",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/imports/bulk_users/{importId}" : {
      "get" : {
        "tags" : [ "UserImport" ],
        "summary" : "Returns the details of a single user import request.",
        "description" : "Returns the details of a single user import request.\n\nUse this method to check the status of the request by looking at the `status` property of the response.\nOnce the status becomes `completed` (or fails), use this method to get the details.\n\nTo get a list of all of the user import requests, use `getBulkUserImportRequests`.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_read`.",
        "operationId" : "OrganizationImport_OrganizationImportUsers_GetById",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "importId",
          "in" : "path",
          "description" : "The import ID GUID for the request",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationImportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_read" ]
        } ],
        "x-ds-methodname" : "getBulkUserImportRequest",
        "x-ds-method" : "getBulkUserImportRequest",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      },
      "delete" : {
        "tags" : [ "UserImport" ],
        "summary" : "Deletes a specific user import request.",
        "description" : "Deletes a specific import request and its results.\n\nTo delete a user, see [closeBulkUserImportRequest](/docs/admin-api/reference/bulkoperations/userimport/closebulkuserimportrequest/).\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.",
        "operationId" : "OrganizationImport_OrganizationImportUsers_DeleteById",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "importId",
          "in" : "path",
          "description" : "The import ID GUID for the request",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "deleteBulkUserImport",
        "x-ds-method" : "deleteBulkUserImport",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/imports/bulk_users/{importId}/results_csv" : {
      "get" : {
        "tags" : [ "UserImport" ],
        "summary" : "Given the ID of a user import request,\nreturn the CSV file that was imported.",
        "description" : "Returns the contents of the CSV file\nassociated with a user import request.\n\nThe results have an additional column,\n`ProcessingResults`,\nthat describes the results of importing that row.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_read`.\n",
        "operationId" : "OrganizationImport_OrganizationImportUsers_GetCSVResults",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "importId",
          "in" : "path",
          "description" : "The import ID GUID for the request",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "text/csv" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_read" ]
        } ],
        "x-ds-methodname" : "getBulkUserImportCSV",
        "x-ds-method" : "getBulkUserImportCSV",
        "x-ds-service" : "BulkImports",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/identity_providers" : {
      "get" : {
        "tags" : [ "IdentityProviders" ],
        "summary" : "Returns the list of identity providers for an organization.",
        "description" : "Returns the list of identity providers for an organization.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `identity_provider_read`.",
        "operationId" : "Organization_GetIdentityProviders",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IdentityProvidersResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "identity_provider_read" ]
        } ],
        "x-ds-methodname" : "getIdentityProviders",
        "x-ds-method" : "getIdentityProviders",
        "x-ds-service" : "IdentityProviders",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/data_redaction/organizations/{organizationId}/user" : {
      "post" : {
        "tags" : [ "DataDeletion" ],
        "summary" : "Deletes data for one or more of a user's account memberships.",
        "description" : "Deletes data for one or more of a user's account memberships.\n\nTo call this endpoint: \n* You must be an organization administrator (or delegated administrator) with permission to manage the specified accounts or the user's email domain.\n* The user must have been closed for at least 24 hours.\n\n**Note:** After a user's data is deleted for every account to which they belong, their user-level data will automatically be deleted.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_data_redact`.",
        "operationId" : "DataRedaction_RedactIndividualUserData",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IndividualUserDataRedactionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IndividualUserDataRedactionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_data_redact" ]
        } ],
        "x-ds-methodname" : "redactIndividualUserData",
        "x-ds-method" : "redactIndividualUserData",
        "x-ds-service" : "Organizations",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "requestModel"
      }
    },
    "/v2/organizations/{organizationId}/reserved_domains" : {
      "get" : {
        "tags" : [ "ReservedDomains" ],
        "summary" : "Returns the list of reserved domains for the organization.",
        "description" : "Returns the list of reserved domains for the organization.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `domain_read`.",
        "operationId" : "Organization_GetReservedDomains",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainsResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "domain_read" ]
        } ],
        "x-ds-methodname" : "getReservedDomains",
        "x-ds-method" : "getReservedDomains",
        "x-ds-service" : "ReservedDomains",
        "x-ds-in-sdk" : true
      }
    },
    "/v2/organizations/{organizationId}/users/profiles" : {
      "post" : {
        "tags" : [ "eSignUserManagement" ],
        "summary" : "Updates a user's information.",
        "description" : "Updates a user's information.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.",
        "operationId" : "User_Users_UpdateV2",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateUsersRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersUpdateResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "updateUser",
        "x-ds-method" : "updateUser",
        "x-ds-service" : "Users",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "request"
      }
    },
    "/v2/organizations/{organizationId}/users/email_addresses" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Updates a user's email address.",
        "description" : "Updates a user's email address.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.\n",
        "operationId" : "User_Users_UpdateEmailAddressesV2",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateUsersEmailRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersUpdateResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "updateEmailAddress",
        "x-ds-method" : "updateEmailAddress",
        "x-ds-service" : "Users",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "request"
      }
    },
    "/v2/organizations/{organizationId}/users/{userId}/accounts" : {
      "delete" : {
        "tags" : [ "eSignUserManagement" ],
        "summary" : "Closes a user's memberships.",
        "description" : "Closes a user's memberships.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.\n\nThis method requires user authentication. It will fail with an [application access token](/docs/admin-api/admin101/application-auth/).",
        "operationId" : "User_Users_CloseMembershipsV2",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The user ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteMembershipsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteMembershipsResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "closeMemberships",
        "x-ds-method" : "closeMemberships",
        "x-ds-service" : "Users",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "request"
      }
    },
    "/v2/organizations/{organizationId}/users" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Returns information about the users in an organization.",
        "description" : "Returns information about the users in an organization.\n\nYou must include at least one of the following query parameters in the request:\n\n- `account_id`: The ID of an account associated with the organization.\n- `organization_reserved_domain_id`: The ID of one of the organization's reserved domains.\n- `email`: An email address associated with the users that you want to return.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_read`.",
        "operationId" : "OrganizationUser_OrganizationUsers_GetV2",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "Index of first item to include in the response. The default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "Page size of the response. The default value is 20",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "Index of the last item to include in the response. Ignored if `take` parameter is specified",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Email address of the desired user. At least one of `email`, `account_id` or `organization_reserved_domain_id` must be specified",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "email_user_name_like",
          "in" : "query",
          "description" : "Selects users by pattern matching on the user's email address",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "emailUserNameLike"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "membership_status",
          "in" : "query",
          "description" : "The user's membership status. One of:\n\n- `activation_required`\n- `activation_sent`\n- `active`\n- `closed`\n- `disabled`\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "membershipStatus"
        }, {
          "name" : "account_id",
          "in" : "query",
          "description" : "Select users that are members of the specified account. At least one of `email`, `account_id` or `organization_reserved_domain_id` must be specified",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "x-ballerina-name" : "accountId"
        }, {
          "name" : "organization_reserved_domain_id",
          "in" : "query",
          "description" : "Select users that are in the specified domain. At least one of `email`, `account_id` or `organization_reserved_domain_id` must be specified",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "x-ballerina-name" : "organizationReservedDomainId"
        }, {
          "name" : "last_modified_since",
          "in" : "query",
          "description" : "Select users whose data have been modified since the date specified. `account_id` or `organization_reserved_domain_id` must be specified",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "lastModifiedSince"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationUsersResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_read" ]
        } ],
        "x-ds-methodname" : "getUsers",
        "x-ds-method" : "getUsers",
        "x-ds-service" : "Users",
        "x-ds-in-sdk" : true
      },
      "post" : {
        "tags" : [ "eSignUserManagement" ],
        "summary" : "Creates a new user.",
        "description" : "Creates a new user.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.\n",
        "operationId" : "OrganizationUser_Users_AddV2",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NewUserRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NewUserResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "createUser",
        "x-ds-method" : "createUser",
        "x-ds-service" : "Users",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "request"
      }
    },
    "/v2/organizations/{organizationId}/users/{userId}/memberships/{membershipId}" : {
      "post" : {
        "tags" : [ "eSignUserManagement" ],
        "summary" : "Activates user memberships.",
        "description" : "Activates user memberships.\n\n[Required authentication scopes](/docs/admin-api/admin101/auth/): `user_write`.\n",
        "operationId" : "OrganizationUser_Users_ActivateMembershipV2",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The user ID Guid",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "membershipId",
          "in" : "path",
          "description" : "The membership ID GUID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ForceActivateMembershipRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accessCode" : [ "user_write" ]
        } ],
        "x-ds-methodname" : "activateMembership",
        "x-ds-method" : "activateMembership",
        "x-ds-service" : "Users",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "request"
      }
    },
    "/v2/organizations/{organizationId}/users/profile" : {
      "get" : {
        "tags" : [ "eSignUserManagement" ],
        "summary" : "Returns historical information about users with a specific email address.\n",
        "description" : "Returns historical information about users with a specific email address.\n**Note:** The `email` query parameter is _required_.\n\n\nTo get a list of users in an organization,\nuse [Users: getUsers](/docs/admin-api/reference/usermanagement/users/getusers/)\ninstead.\n\nFor example, the following request gets information about\naccounts that use `max@example.net` as an email address:\n\n\n```json\nGET /Management/v2/organizations/96e994fa-xxxx-xxxx-xxxx-c5fe9d1ccd10/users/profile?email=max@example.net\n\n{\n  \"users\": [\n    {\n      \"id\": \"6b67a1ee-xxxx-xxxx-xxxx-385763624163\",\n      \"site_id\": 1,\n      \"site_name\": \"Monadnock\",\n      \"user_name\": \"Max Example\",\n      \"first_name\": \"Max\",\n      \"last_name\": \"Example\",\n      \"user_status\": \"active\",\n      \"default_account_id\": \"f636f297-xxxx-xxxx-xxxx-8e7a14715950\",\n      \"default_account_name\": \"BizCo\",\n      \"is_organization_admin\": false,\n      \"created_on\": \"2019-04-01T22:11:56.457\",\n      \"memberships\": [\n        {\n          \"email\": \"max@example.net\",\n          \"account_id\": \"624e3e00-xxxx-xxxx-xxxx-43918c520dab\",\n          \"external_account_id\": \"17xxxxx1\",\n          \"account_name\": \"LoanCo\",\n          \"is_external_account\": false,\n          \"status\": \"active\",\n          \"permission_profile\": { },\n          \"created_on\": \"2019-04-01T22:11:56.457\",\n          \"groups\": [ ],\n          \"is_admin\": false\n        },\n        {\n          \"email\": \"max@example.net\",\n          \"account_id\": \"f636f297-xxxx-xxxx-xxxx-8e7a14715950\",\n          \"external_account_id\": \"25xxxxx0\",\n          \"account_name\": \"BizCo\",\n          \"is_external_account\": true,\n          \"status\": \"active\",\n          \"permission_profile\": { },\n          \"created_on\": \"2021-07-07T15:10:51.96\",\n          \"groups\": [ ],\n          \"is_admin\": false\n        },\n        {\n          \"email\": \"max@example.net\",\n          \"account_id\": \"
[...]
